In [1]:
import pandas as pd

In [2]:
csv_data = pd.read_csv('D:\Data\sampledata.csv')

In [3]:
csv_data.head()

   id   view       status
0  35  UUUUU      Ongoing
1  32  ZZZZZ    fulfilled
2  10  VVVVV  unsatesfied
3  42  PPPPP    fulfilled
4  34  XXXXX      Ongoing

In [5]:
csv_group = csv_data.groupby('id')

In [13]:
def fun(x):
    #print x.view
    return x

csv_group.apply(fun)

      id   view       status
0     35  UUUUU      Ongoing
1     32  ZZZZZ    fulfilled
2     10  VVVVV  unsatesfied
3     42  PPPPP    fulfilled
4     34  XXXXX      Ongoing
5     35  HHHHH  unsatisfied
6     56  JJJJJ    fulfilled
7     54  FFFFF      Ongoing
8     88  JJJJJ      Ongoing
9     63  EEEEE      Ongoing
10    82  UUUUU      preview
11    51  OOOOO      Ongoing
12    65  LLLLL      preview
13    32  XXXXX  unsatesfied
14    84  LLLLL  unsatisfied
15    84  CCCCC      Ongoing
16    28  NNNNN  unsatesfied
17    20  NNNNN  unsatisfied
18    36  HHHHH      Ongoing
19    22  RRRRR      Ongoing
20    79  NNNNN      Ongoing
21    93  YYYYY  unsatesfied
22    35  GGGGG      Ongoing
23    63  BBBBB      Ongoing
24    14  PPPPP  unsatesfied
25    77  HHHHH  unsatesfied
26    71  XXXXX      Ongoing
27    37  NNNNN  unsatisfied
28    90  GGGGG    fulfilled
29    44  PPPPP  unsatisfied
..   ...    ...          ...
126   70  RRRRR  unsatesfied
127   44  KKKKK  unsatesfied
128   16  YYYYY  unsatisfied
129   43  NNNNN    fulfilled
130  100  YYYYY      preview
131   76  WWWWW      preview
132   15  PPPPP    fulfilled
133   28  OOOOO      Ongoing
134   26  AAAAA  unsatesfied
135   62  WWWWW      preview
136   26  XXXXX      Ongoing
137   73  KKKKK  unsatesfied
138   16  DDDDD  unsatisfied
139   35  YYYYY    fulfilled
140   26  DDDDD      preview
141   56  NNNNN  unsatisfied
142   99  JJJJJ  unsatisfied
143   32  NNNNN      preview
144   43  DDDDD      Ongoing
145   55  OOOOO  unsatisfied
146   57  IIIII      preview
147   10  IIIII      Ongoing
148   32  BBBBB      Ongoing
149   28  MMMMM    fulfilled
150   76  CCCCC  unsatesfied
151   76  KKKKK    fulfilled
152   73  BBBBB      preview
153   48  VVVVV      preview
154   73  UUUUU      preview
155   55  CCCCC  unsatesfied

[156 rows x 3 columns]

In [14]:
d = {'one':[1,1,1,1,1],
     'two':[2,2,2,2,2],
     'letter':['a','a','b','b','c']}

# Create dataframe
df = pd.DataFrame(d)

In [33]:
jh = df.groupby('letter')

In [32]:
def f(x):
    return x

help(jh.apply)

Help on method apply in module pandas.core.groupby:

apply(self, func, *args, **kwargs) method of pandas.core.groupby.DataFrameGroupBy instance
    Apply function and combine results together in an intelligent way. The
    split-apply-combine combination rules attempt to be as common sense
    based as possible. For example:

    case 1:
    group DataFrame
    apply aggregation function (f(chunk) -> Series)
    yield DataFrame, with group axis having group labels

    case 2:
    group DataFrame
    apply transform function ((f(chunk) -> DataFrame with same indexes)
    yield DataFrame with resulting chunks glued together

    case 3:
    group Series
    apply function with f(chunk) -> DataFrame
    yield DataFrame with result of chunks glued together

    Parameters
    ----------
    func : function

    Notes
    -----
    See online documentation for full exposition on how to use apply.

    In the current implementation apply calls func twice on the
    first group to decide whether it can take a fast or slow code
    path. This can lead to unexpected behavior if func has
    side-effects, as they will take effect twice for the first
    group.


    See also
    --------
    aggregate, transform

In [34]:
jh.size()

letter
a    2
b    2
c    1
dtype: int64

In [41]:
f = df.groupby('letter')

In [46]:
help(f)

Help on DataFrameGroupBy in module pandas.core.groupby object:

class DataFrameGroupBy(NDFrameGroupBy)
 |  Method resolution order:
 |      DataFrameGroupBy
 |      NDFrameGroupBy
 |      GroupBy
 |      _GroupBy
 |      pandas.core.base.PandasObject
 |      pandas.core.base.StringMixin
 |      pandas.core.base.SelectionMixin
 |      __builtin__.object
 |
 |  Methods defined here:
 |
 |  agg = aggregate(self, arg, *args, **kwargs)
 |
 |  aggregate(self, arg, *args, **kwargs)
 |      Aggregate using input function or dict of {column ->
 |      function}
 |
 |      Parameters
 |      ----------
 |      arg : function or dict
 |          Function to use for aggregating groups. If a function, must either
 |          work when passed a DataFrame or when passed to DataFrame.apply. If
 |          passed a dict, the keys must be DataFrame column names.
 |
 |          Accepted Combinations are:
 |            - string cythonized function name
 |            - function
 |            - list of functions
 |            - dict of columns -> functions
 |            - nested dict of names -> dicts of functions
 |
 |      Notes
 |      -----
 |      Numpy functions mean/median/prod/sum/std/var are special cased so the
 |      default behavior is applying the function along axis=0
 |      (e.g., np.mean(arr_2d, axis=0)) as opposed to
 |      mimicking the default Numpy behavior (e.g., np.mean(arr_2d)).
 |
 |      Returns
 |      -------
 |      aggregated : DataFrame
 |
 |      See also
 |      --------
 |      pandas.Series.groupby
 |      pandas.DataFrame.groupby
 |
 |  all(self, axis=None, bool_only=None, skipna=None, level=None, **kwargs)
 |
 |      Return whether all elements are True over requested axis
 |
 |      Parameters
 |      ----------
 |      axis : {index (0), columns (1)}
 |      skipna : boolean, default True
 |          Exclude NA/null values. If an entire row/column is NA, the result
 |          will be NA
 |      level : int or level name, default None
 |          If the axis is a MultiIndex (hierarchical), count along a
 |          particular level, collapsing into a Series
 |      bool_only : boolean, default None
 |          Include only boolean data. If None, will attempt to use everything,
 |          then use only boolean data
 |
 |      Returns
 |      -------
 |      all : Series or DataFrame (if level specified)
 |
 |  any(self, axis=None, bool_only=None, skipna=None, level=None, **kwargs)
 |
 |      Return whether any element is True over requested axis
 |
 |      Parameters
 |      ----------
 |      axis : {index (0), columns (1)}
 |      skipna : boolean, default True
 |          Exclude NA/null values. If an entire row/column is NA, the result
 |          will be NA
 |      level : int or level name, default None
 |          If the axis is a MultiIndex (hierarchical), count along a
 |          particular level, collapsing into a Series
 |      bool_only : boolean, default None
 |          Include only boolean data. If None, will attempt to use everything,
 |          then use only boolean data
 |
 |      Returns
 |      -------
 |      any : Series or DataFrame (if level specified)
 |
 |  boxplot = boxplot_frame_groupby(grouped, subplots=True, column=None, fontsize=None, rot=0, grid=True, ax=None, figsize=None, layout=None, **kwds)
 |      Make box plots from DataFrameGroupBy data.
 |
 |      Parameters
 |      ----------
 |      grouped : Grouped DataFrame
 |      subplots :
 |          * ``False`` - no subplots will be used
 |          * ``True`` - create a subplot for each group
 |      column : column name or list of names, or vector
 |          Can be any valid input to groupby
 |      fontsize : int or string
 |      rot : label rotation angle
 |      grid : Setting this to True will show the grid
 |      ax : Matplotlib axis object, default None
 |      figsize : A tuple (width, height) in inches
 |      layout : tuple (optional)
 |          (rows, columns) for the layout of the plot
 |      kwds : other plotting keyword arguments to be passed to matplotlib boxplot
 |             function
 |
 |      Returns
 |      -------
 |      dict of key/value = group key/DataFrame.boxplot return value
 |      or DataFrame.boxplot return value in case subplots=figures=False
 |
 |      Examples
 |      --------
 |      >>> import pandas
 |      >>> import numpy as np
 |      >>> import itertools
 |      >>>
 |      >>> tuples = [t for t in itertools.product(range(1000), range(4))]
 |      >>> index = pandas.MultiIndex.from_tuples(tuples, names=['lvl0', 'lvl1'])
 |      >>> data = np.random.randn(len(index),4)
 |      >>> df = pandas.DataFrame(data, columns=list('ABCD'), index=index)
 |      >>>
 |      >>> grouped = df.groupby(level='lvl1')
 |      >>> boxplot_frame_groupby(grouped)
 |      >>>
 |      >>> grouped = df.unstack(level='lvl1').groupby(level=0, axis=1)
 |      >>> boxplot_frame_groupby(grouped, subplots=False)
 |
 |  corr(self, method='pearson', min_periods=1)
 |      Compute pairwise correlation of columns, excluding NA/null values
 |
 |      Parameters
 |      ----------
 |      method : {'pearson', 'kendall', 'spearman'}
 |          * pearson : standard correlation coefficient
 |          * kendall : Kendall Tau correlation coefficient
 |          * spearman : Spearman rank correlation
 |      min_periods : int, optional
 |          Minimum number of observations required per pair of columns
 |          to have a valid result. Currently only available for pearson
 |          and spearman correlation
 |
 |      Returns
 |      -------
 |      y : DataFrame
 |
 |  corrwith(self, other, axis=0, drop=False)
 |      Compute pairwise correlation between rows or columns of two DataFrame
 |      objects.
 |
 |      Parameters
 |      ----------
 |      other : DataFrame
 |      axis : {0 or 'index', 1 or 'columns'}, default 0
 |          0 or 'index' to compute column-wise, 1 or 'columns' for row-wise
 |      drop : boolean, default False
 |          Drop missing indices from result, default returns union of all
 |
 |      Returns
 |      -------
 |      correls : Series
 |
 |  count(self)
 |      Compute count of group, excluding missing values
 |
 |  cov(self, min_periods=None)
 |      Compute pairwise covariance of columns, excluding NA/null values
 |
 |      Parameters
 |      ----------
 |      min_periods : int, optional
 |          Minimum number of observations required per pair of columns
 |          to have a valid result.
 |
 |      Returns
 |      -------
 |      y : DataFrame
 |
 |      Notes
 |      -----
 |      `y` contains the covariance matrix of the DataFrame's time series.
 |      The covariance is normalized by N-1 (unbiased estimator).
 |
 |  cummax(self, axis=None, dtype=None, out=None, skipna=True, **kwargs)
 |          Return cumulative max over requested axis.
 |
 |      Parameters
 |      ----------
 |      axis : {index (0), columns (1)}
 |      skipna : boolean, default True
 |          Exclude NA/null values. If an entire row/column is NA, the result
 |          will be NA
 |
 |      Returns
 |      -------
 |      max : Series
 |
 |  cummin(self, axis=None, dtype=None, out=None, skipna=True, **kwargs)
 |          Return cumulative min over requested axis.
 |
 |      Parameters
 |      ----------
 |      axis : {index (0), columns (1)}
 |      skipna : boolean, default True
 |          Exclude NA/null values. If an entire row/column is NA, the result
 |          will be NA
 |
 |      Returns
 |      -------
 |      min : Series
 |
 |  describe(self, percentiles=None, include=None, exclude=None)
 |      Generate various summary statistics, excluding NaN values.
 |
 |      Parameters
 |      ----------
 |      percentiles : array-like, optional
 |          The percentiles to include in the output. Should all
 |          be in the interval [0, 1]. By default `percentiles` is
 |          [.25, .5, .75], returning the 25th, 50th, and 75th percentiles.
 |      include, exclude : list-like, 'all', or None (default)
 |          Specify the form of the returned result. Either:
 |
 |          - None to both (default). The result will include only
 |            numeric-typed columns or, if none are, only categorical columns.
 |          - A list of dtypes or strings to be included/excluded.
 |            To select all numeric types use numpy numpy.number. To select
 |            categorical objects use type object. See also the select_dtypes
 |            documentation. eg. df.describe(include=['O'])
 |          - If include is the string 'all', the output column-set will
 |            match the input one.
 |
 |      Returns
 |      -------
 |      summary: NDFrame of summary statistics
 |
 |      Notes
 |      -----
 |      The output DataFrame index depends on the requested dtypes:
 |
 |      For numeric dtypes, it will include: count, mean, std, min,
 |      max, and lower, 50, and upper percentiles.
 |
 |      For object dtypes (e.g. timestamps or strings), the index
 |      will include the count, unique, most common, and frequency of the
 |      most common. Timestamps also include the first and last items.
 |
 |      For mixed dtypes, the index will be the union of the corresponding
 |      output types. Non-applicable entries will be filled with NaN.
 |      Note that mixed-dtype outputs can only be returned from mixed-dtype
 |      inputs and appropriate use of the include/exclude arguments.
 |
 |      If multiple values have the highest count, then the
 |      `count` and `most common` pair will be arbitrarily chosen from
 |      among those with the highest count.
 |
 |      The include, exclude arguments are ignored for Series.
 |
 |      See Also
 |      --------
 |      DataFrame.select_dtypes
 |
 |  diff(self, periods=1, axis=0)
 |      1st discrete difference of object
 |
 |      Parameters
 |      ----------
 |      periods : int, default 1
 |          Periods to shift for forming difference
 |      axis : {0 or 'index', 1 or 'columns'}, default 0
 |          Take difference over rows (0) or columns (1).
 |
 |          .. versionadded: 0.16.1
 |
 |      Returns
 |      -------
 |      diffed : DataFrame
 |
 |  fillna(self, value=None, method=None, axis=None, inplace=False, limit=None, downcast=None, **kwargs)
 |      Fill NA/NaN values using the specified method
 |
 |      Parameters
 |      ----------
 |      value : scalar, dict, Series, or DataFrame
 |          Value to use to fill holes (e.g. 0), alternately a
 |          dict/Series/DataFrame of values specifying which value to use for
 |          each index (for a Series) or column (for a DataFrame). (values not
 |          in the dict/Series/DataFrame will not be filled). This value cannot
 |          be a list.
 |      method : {'backfill', 'bfill', 'pad', 'ffill', None}, default None
 |          Method to use for filling holes in reindexed Series
 |          pad / ffill: propagate last valid observation forward to next valid
 |          backfill / bfill: use NEXT valid observation to fill gap
 |      axis : {0, 1, 'index', 'columns'}
 |      inplace : boolean, default False
 |          If True, fill in place. Note: this will modify any
 |          other views on this object, (e.g. a no-copy slice for a column in a
 |          DataFrame).
 |      limit : int, default None
 |          If method is specified, this is the maximum number of consecutive
 |          NaN values to forward/backward fill. In other words, if there is
 |          a gap with more than this number of consecutive NaNs, it will only
 |          be partially filled. If method is not specified, this is the
 |          maximum number of entries along the entire axis where NaNs will be
 |          filled.
 |      downcast : dict, default is None
 |          a dict of item->dtype of what to downcast if possible,
 |          or the string 'infer' which will try to downcast to an appropriate
 |          equal type (e.g. float64 to int64 if possible)
 |
 |      See Also
 |      --------
 |      reindex, asfreq
 |
 |      Returns
 |      -------
 |      filled : DataFrame
 |
 |  hist(data, column=None, by=None, grid=True, xlabelsize=None, xrot=None, ylabelsize=None, yrot=None, ax=None, sharex=False, sharey=False, figsize=None, layout=None, bins=10, **kwds)
 |      Draw histogram of the DataFrame's series using matplotlib / pylab.
 |
 |      Parameters
 |      ----------
 |      data : DataFrame
 |      column : string or sequence
 |          If passed, will be used to limit data to a subset of columns
 |      by : object, optional
 |          If passed, then used to form histograms for separate groups
 |      grid : boolean, default True
 |          Whether to show axis grid lines
 |      xlabelsize : int, default None
 |          If specified changes the x-axis label size
 |      xrot : float, default None
 |          rotation of x axis labels
 |      ylabelsize : int, default None
 |          If specified changes the y-axis label size
 |      yrot : float, default None
 |          rotation of y axis labels
 |      ax : matplotlib axes object, default None
 |      sharex : boolean, default True if ax is None else False
 |          In case subplots=True, share x axis and set some x axis labels to
 |          invisible; defaults to True if ax is None otherwise False if an ax
 |          is passed in; Be aware, that passing in both an ax and sharex=True
 |          will alter all x axis labels for all subplots in a figure!
 |      sharey : boolean, default False
 |          In case subplots=True, share y axis and set some y axis labels to
 |          invisible
 |      figsize : tuple
 |          The size of the figure to create in inches by default
 |      layout: (optional) a tuple (rows, columns) for the layout of the histograms
 |      bins: integer, default 10
 |          Number of histogram bins to be used
 |      kwds : other plotting keyword arguments
 |          To be passed to hist function
 |
 |  idxmax(self, axis=0, skipna=True)
 |      Return index of first occurrence of maximum over requested axis.
 |      NA/null values are excluded.
 |
 |      Parameters
 |      ----------
 |      axis : {0 or 'index', 1 or 'columns'}, default 0
 |          0 or 'index' for row-wise, 1 or 'columns' for column-wise
 |      skipna : boolean, default True
 |          Exclude NA/null values. If an entire row/column is NA, the result
 |          will be first index.
 |
 |      Returns
 |      -------
 |      idxmax : Series
 |
 |      Notes
 |      -----
 |      This method is the DataFrame version of ``ndarray.argmax``.
 |
 |      See Also
 |      --------
 |      Series.idxmax
 |
 |  idxmin(self, axis=0, skipna=True)
 |      Return index of first occurrence of minimum over requested axis.
 |      NA/null values are excluded.
 |
 |      Parameters
 |      ----------
 |      axis : {0 or 'index', 1 or 'columns'}, default 0
 |          0 or 'index' for row-wise, 1 or 'columns' for column-wise
 |      skipna : boolean, default True
 |          Exclude NA/null values. If an entire row/column is NA, the result
 |          will be NA
 |
 |      Returns
 |      -------
 |      idxmin : Series
 |
 |      Notes
 |      -----
 |      This method is the DataFrame version of ``ndarray.argmin``.
 |
 |      See Also
 |      --------
 |      Series.idxmin
 |
 |  mad(self, axis=None, skipna=None, level=None)
 |
 |      Return the mean absolute deviation of the values for the requested axis
 |
 |      Parameters
 |      ----------
 |      axis : {index (0), columns (1)}
 |      skipna : boolean, default True
 |          Exclude NA/null values. If an entire row/column is NA, the result
 |          will be NA
 |      level : int or level name, default None
 |          If the axis is a MultiIndex (hierarchical), count along a
 |          particular level, collapsing into a Series
 |      numeric_only : boolean, default None
 |          Include only float, int, boolean data. If None, will attempt to use
 |          everything, then use only numeric data
 |
 |      Returns
 |      -------
 |      mad : Series or DataFrame (if level specified)
 |
 |  pct_change(self, periods=1, fill_method='pad', limit=None, freq=None, **kwargs)
 |      Percent change over given number of periods.
 |
 |      Parameters
 |      ----------
 |      periods : int, default 1
 |          Periods to shift for forming percent change
 |      fill_method : str, default 'pad'
 |          How to handle NAs before computing percent changes
 |      limit : int, default None
 |          The number of consecutive NAs to fill before stopping
 |      freq : DateOffset, timedelta, or offset alias string, optional
 |          Increment to use from time series API (e.g. 'M' or BDay())
 |
 |      Returns
 |      -------
 |      chg : NDFrame
 |
 |      Notes
 |      -----
 |
 |      By default, the percentage change is calculated along the stat
 |      axis: 0, or ``Index``, for ``DataFrame`` and 1, or ``minor`` for
 |      ``Panel``. You can change this with the ``axis`` keyword argument.
 |
 |  quantile(self, q=0.5, axis=0, numeric_only=True, interpolation='linear')
 |      Return values at the given quantile over requested axis, a la
 |      numpy.percentile.
 |
 |      Parameters
 |      ----------
 |      q : float or array-like, default 0.5 (50% quantile)
 |          0 <= q <= 1, the quantile(s) to compute
 |      axis : {0, 1, 'index', 'columns'} (default 0)
 |          0 or 'index' for row-wise, 1 or 'columns' for column-wise
 |      interpolation : {'linear', 'lower', 'higher', 'midpoint', 'nearest'}
 |          .. versionadded:: 0.18.0
 |
 |          This optional parameter specifies the interpolation method to use,
 |          when the desired quantile lies between two data points `i` and `j`:
 |
 |          * linear: `i + (j - i) * fraction`, where `fraction` is the
 |            fractional part of the index surrounded by `i` and `j`.
 |          * lower: `i`.
 |          * higher: `j`.
 |          * nearest: `i` or `j` whichever is nearest.
 |          * midpoint: (`i` + `j`) / 2.
 |
 |      Returns
 |      -------
 |      quantiles : Series or DataFrame
 |
 |          - If ``q`` is an array, a DataFrame will be returned where the
 |            index is ``q``, the columns are the columns of self, and the
 |            values are the quantiles.
 |          - If ``q`` is a float, a Series will be returned where the
 |            index is the columns of self and the values are the quantiles.
 |
 |      Examples
 |      --------
 |
 |      >>> df = DataFrame(np.array([[1, 1], [2, 10], [3, 100], [4, 100]]),
 |                         columns=['a', 'b'])
 |      >>> df.quantile(.1)
 |      a    1.3
 |      b    3.7
 |      dtype: float64
 |      >>> df.quantile([.1, .5])
 |             a     b
 |      0.1  1.3   3.7
 |      0.5  2.5  55.0
 |
 |  rank(self, axis=0, method='average', numeric_only=None, na_option='keep', ascending=True, pct=False)
 |      Compute numerical data ranks (1 through n) along axis. Equal values are
 |      assigned a rank that is the average of the ranks of those values
 |
 |      Parameters
 |      ----------
 |      axis: {0 or 'index', 1 or 'columns'}, default 0
 |          index to direct ranking
 |      method : {'average', 'min', 'max', 'first', 'dense'}
 |          * average: average rank of group
 |          * min: lowest rank in group
 |          * max: highest rank in group
 |          * first: ranks assigned in order they appear in the array
 |          * dense: like 'min', but rank always increases by 1 between groups
 |      numeric_only : boolean, default None
 |          Include only float, int, boolean data. Valid only for DataFrame or
 |          Panel objects
 |      na_option : {'keep', 'top', 'bottom'}
 |          * keep: leave NA values where they are
 |          * top: smallest rank if ascending
 |          * bottom: smallest rank if descending
 |      ascending : boolean, default True
 |          False for ranks by high (1) to low (N)

In [50]:
df.groupby('letter')['one'].apply(' '.join)

TypeError: sequence item 0: expected string, numpy.int64 found

In [49]:
df

  letter  one  two
0      a    1    2
1      a    1    2
2      b    1    2
3      b    1    2
4      c    1    2

In [53]:
d = {'one':['1','1','1','1','1'],
     'two':[2,2,2,2,2],
     'letter':['a','a','b','b','c']}

# Create dataframe
df = pd.DataFrame(d)

In [54]:
df

  letter one  two
0      a   1    2
1      a   1    2
2      b   1    2
3      b   1    2
4      c   1    2

In [56]:
df.groupby('letter')['one'].apply(','.join)

letter
a    1,1
b    1,1
c      1
Name: one, dtype: object

In [57]:
l = ['a','b','c']
' '.join(l)

'a b c'

In [64]:
csv = csv_data.groupby('id')['view'].apply(','.join)

In [65]:
csv

id
10    VVVVV,IIIII,QQQQQ,IIIII
11                DDDDD,IIIII
12                      UUUUU
14                PPPPP,CCCCC
15                      PPPPP
Name: view, dtype: object

In [69]:
d = csv_data[['id','status']]

In [83]:
c = d.groupby('status').count()

In [91]:
ticket_data = pd.read_csv(r'D:\Data\ticket.csv')

In [92]:
ticket_data.head()

,SERVICE_REQUEST,STATUS,VM_NAME,VM_UUID,CUSTOMER,SR_TYPE,SUBMITTEDON,PARENTSR,SITE,NO_VMS,...,SLA,QCON_MESSAGEID,QCON_MSGKEY,QCON_STATUS,QCON_PROGRESSSTATUS,QCON_COMMANDSTATUS,QCON_CREATEDATE,QCON_CHANGEDATE,SR_ACTUALSTART_TIME,SR_ACTUALFINISH_TIME
0,SR471605,FULFILLED,new123,new124,abc,Managed,11/2/2016 0:20,NaN,Japan Prod,1.0,...,Bronze,SCEP01164T,NewVS_SAnD_PostCSM_Inbound_Result,ACK,INPRG,SUCCESS,11/10/2016 11:51,11/10/2016 13:00,11/2/2016 0:30,11/10/2016 13:08
1,SR471605,FULFILLED,new123,new124,abc,Managed,11/2/2016 0:20,NaN,Japan Prod,1.0,...,Bronze,SCEP01114T,NewVS_ProvisionVS_PostCSM_Inbound_Result,CLOSED,INPRG,FAILURE,11/2/2016 2:08,11/4/2016 11:54,11/2/2016 0:30,11/10/2016 13:08
2,SR471605,FULFILLED,new123,new124,abc,Managed,11/2/2016 0:20,NaN,Japan Prod,1.0,...,Bronze,SCEP01113T,NewVS_ProvisionVS_Payload_Post_CSM,CLOSED,NONE,NONE,11/4/2016 13:54,11/5/2016 12:28,11/2/2016 0:30,11/10/2016 13:08
3,SR471605,FULFILLED,new123,new124,abc,Managed,11/2/2016 0:20,NaN,Japan Prod,1.0,...,Bronze,SCEP01114T,NewVS_ProvisionVS_PostCSM_Inbound_Result,CLOSED,INPRG,FAILURE,11/4/2016 13:24,11/4/2016 13:54,11/2/2016 0:30,11/10/2016 13:08
4,SR471605,FULFILLED,new123,new124,abc,Managed,11/2/2016 0:20,NaN,Japan Prod,1.0,...,Bronze,SCEP01113T,NewVS_ProvisionVS_Payload_Post_CSM,CLOSED,NONE,NONE,11/4/2016 11:54,11/4/2016 13:44,11/2/2016 0:30,11/10/2016 13:08

In [94]:
sr = ticket_data[ticket_data['SERVICE_REQUEST'] == 'SR471605']

In [95]:
sr.to_csv(r'D:\Data\ticket-sr.csv')

In [100]:
data = ticket_data[ticket_data['QCON_MSGKEY'] == 'NewVS_ProvisionVS_Start']

In [102]:
data

,SERVICE_REQUEST,STATUS,VM_NAME,VM_UUID,CUSTOMER,SR_TYPE,SUBMITTEDON,PARENTSR,SITE,NO_VMS,...,SLA,QCON_MESSAGEID,QCON_MSGKEY,QCON_STATUS,QCON_PROGRESSSTATUS,QCON_COMMANDSTATUS,QCON_CREATEDATE,QCON_CHANGEDATE,SR_ACTUALSTART_TIME,SR_ACTUALFINISH_TIME
112,SR471623,UNSATISFIED,new123,new124,abc,Managed,11/2/2016 2:44,NaN,Japan Prod,1.0,...,Bronze,SCEP01110T,NewVS_ProvisionVS_Start,ACK,INPRG,NONE,11/2/2016 2:54,11/2/2016 2:56,11/2/2016 2:50,11/3/2016 12:17
124,SR471624,UNSATISFIED,new123,new124,abc,Managed,11/2/2016 2:44,NaN,Japan Prod,1.0,...,Bronze,SCEP01110T,NewVS_ProvisionVS_Start,ACK,INPRG,NONE,11/2/2016 2:55,11/2/2016 2:56,11/2/2016 2:50,11/3/2016 12:18
142,SR471633,UNSATISFIED,new123,new124,abc,Managed,11/2/2016 2:52,NaN,Japan Prod,1.0,...,Bronze,SCEP01110T,NewVS_ProvisionVS_Start,ACK,INPRG,NONE,11/2/2016 3:06,11/2/2016 3:06,11/2/2016 3:01,11/3/2016 12:18
152,SR471634,UNSATISFIED,new123,new124,abc,Managed,11/2/2016 2:52,NaN,Japan Prod,1.0,...,Bronze,SCEP01110T,NewVS_ProvisionVS_Start,ACK,INPRG,NONE,11/2/2016 3:16,11/2/2016 3:16,11/2/2016 3:01,11/3/2016 12:27
160,SR471635,UNSATISFIED,new123,new124,abc,Managed,11/2/2016 2:52,NaN,Japan Prod,1.0,...,Bronze,SCEP01110T,NewVS_ProvisionVS_Start,ACK,INPRG,NONE,11/2/2016 3:17,11/2/2016 3:21,11/2/2016 8:49,11/3/2016 12:27

In [104]:
from graphlab import SArray

In [107]:
sa = SArray([1,2,None,3,4,4,None])

In [106]:
sa.dropna()

dtype: int
Rows: ?
[1L, 2L, 3L, 4L, 4L, ... ]

In [108]:
sa = SArray([1,2,None,3,4,4,None])

In [110]:
sa.fillna(777)

dtype: int
Rows: 7
[1L, 2L, 777L, 3L, 4L, 4L, 777L]

In [112]:
SArray.from_sequence(7)

dtype: int
Rows: 7
[0L, 1L, 2L, 3L, 4L, 5L, 6L]

In [113]:
help(SArray.is_in)

Help on method is_in in module graphlab.data_structures.sarray:

is_in(self, other) unbound graphlab.data_structures.sarray.SArray method
    Performs an element-wise search for each row in 'other'.

    Conceptually equivalent to:

    >>> sa.apply(lambda x: x in other)

    If the current SArray contains strings and other is a string. Produces a 1
    for each row if the row is a substring of 'other', and 0 otherwise.

    If the 'other' is a list or array, this produces a 1
    for each row if the row is an element of 'other'

    Parameters
    ----------
    other : list, array.array, str
        The variable to search in.

    Returns
    -------
    out : SArray
        A binary SArray where a non-zero value denotes that row was
        was found in 'other'. And 0 if it is not found.

    Examples
    --------
    >>> SArray(['ab','bc','cd']).is_in('abc')
    dtype: int
    Rows: 3
    [1, 1, 0]
    >>> SArray(['a','b','c']).is_in(['a','b'])
    dtype: int
    Rows: 3
    [1, 1, 0]

    See Also
    --------
    contains

In [114]:
SArray(['ab','bc','cd']).is_in('abc')

dtype: int
Rows: 3
[1L, 1L, 0L]

In [115]:
help(SArray.is_materialized)

Help on method is_materialized in module graphlab.data_structures.sarray:

is_materialized(self) unbound graphlab.data_structures.sarray.SArray method
    Returns whether or not the sarray has been materialized.

In [116]:
import pandas as pd

In [123]:
web = pd.read_csv('D:\Data\data\web_traffic.tsv',sep='\t',names=['day','count'])

In [124]:
web.head()

   day   count
0    1  2272.0
1    2     NaN
2    3  1386.0
3    4  1365.0
4    5  1488.0

In [126]:
web = web.dropna()

In [127]:
web.sort_values('count',ascending=False)

     day   count
741  742  5906.0
740  741  5392.0
711  712  5289.0
718  719  5248.0
735  736  5143.0
738  739  4970.0
736  737  4906.0
742  743  4881.0
720  721  4829.0
723  724  4813.0
739  740  4813.0
733  734  4798.0
734  735  4749.0
731  732  4724.0
695  696  4667.0
728  729  4630.0
698  699  4496.0
729  730  4415.0
730  731  4410.0
732  733  4363.0
725  726  4357.0
721  722  4346.0
726  727  4322.0
737  738  4309.0
685  686  4260.0
702  703  4230.0
722  723  4224.0
717  718  4188.0
719  720  4176.0
727  728  4156.0
..   ...     ...
157  158   987.0
325  326   983.0
92    93   981.0
310  311   967.0
260  261   966.0
165  166   961.0
281  282   960.0
298  299   942.0
332  333   936.0
24    25   925.0
171  172   921.0
141  142   909.0
183  184   894.0
285  286   878.0
212  213   875.0
159  160   875.0
443  444   868.0
473  474   860.0
125  126   833.0
175  176   823.0
46    47   808.0
303  304   795.0
299  300   792.0
284  285   740.0
147  148   733.0
271  272   731.0
96    97   730.0
300  301   704.0
306  307   639.0
118  119   472.0

[735 rows x 2 columns]

In [128]:
web['count'].max()

5906.0

In [129]:
web[web['count'] == web['count'].max()]

     day   count
741  742  5906.0

In [130]:
names = ['Bob','Jessica','Mary','John','Mel']

In [132]:
from numpy import random

In [133]:
test_data = [ names[random.randint(0,len(names))] for i in range(1000)]

In [135]:
type(test_data)

list

In [141]:
df = pd.DataFrame(data = test_data, columns=['Name'])

In [143]:
df['Name'].unique()

array(['Bob', 'Mary', 'Mel', 'Jessica', 'John'], dtype=object)

In [144]:
df.groupby('Name')

In [145]:
test_data = [ random.randint(0,len(names)) for i in range(1000)]

In [146]:
test_data = [ names[random.randint(0,len(names))] for i in range(1000)]

In [149]:
test_num = [ random.randint(0,1000) for i in range(1000)]

In [152]:
l = zip(test_data,test_num)

In [153]:
df = pd.DataFrame(data = l, columns=['Name','Marks'])

In [154]:
df.head()

   Name  Marks
0   Bob    935
1  John    779
2  John     53
3  John    843
4   Mel    924

In [155]:
inf = df.groupby('Name')

In [160]:
inf.Marks.sum()

Name
Bob        106341
Jessica    105714
John        96428
Mary       103524
Mel         98658
Name: Marks, dtype: int64

In [165]:
def f(x):
    print type(x)
    return x

df.apply(f)

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

        Name  Marks
0        Bob    935
1       John    779
2       John     53
3       John    843
4        Mel    924
5       John    450
6       Mary    473
7       John    721
8       John    163
9       John    608
10       Bob    950
11       Mel    959
12       Mel    874
13      John    379
14   Jessica    777
15      John    355
16      Mary     54
17       Mel     24
18       Bob    761
19      Mary    685
20       Mel     12
21   Jessica    389
22      Mary    905
23      Mary    286
24       Bob    826
25      John    419
26      John    812
27      John    691
28      John    455
29      John    256
..       ...    ...
970  Jessica    229
971  Jessica    744
972      Mel    514
973     John    119
974     Mary    758
975     John    372
976      Mel    741
977      Bob    768
978     Mary    310
979  Jessica    679
980      Bob    137
981  Jessica    769
982      Bob    361
983     Mary    810
984      Bob    114
985  Jessica    771
986     John     51
987  Jessica    449
988     John    251
989     Mary    725
990      Mel    935
991      Bob     85
992      Bob    595
993     Mary    299
994     John     88
995     John    909
996     John     57
997      Bob    773
998      Mel    216
999      Mel    794

[1000 rows x 2 columns]